@import "./Features.css";

.contact-form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
}

.contact-form button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #16a34a;
  color: white;
  font-weight: 600;
  cursor: pointer;
}